{% load static %}
{% load crispy_forms_tags %}
<! DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizando Pedido</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/pedido.png' %}">
</head>
<body>
    {% for pedido in pedidos %}
        <p> nome do produto: {{ pedido.produto }}  </p>
        <p> quantidade do produto: {{ pedido.quantidade }} </p>
    {% endfor %}

    <p> Valor Total: R$ {{ total }} </p>
    <a href="{% url 'app_produtos:tela_de_pagamento' %}">Tela de Pagamento</a>
</body>
</html>