{% load static %}
<! DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/icone_produtos.png' %}">
    <title>Página Inicial</title>
</head>
<body>
    <a href="{% url 'app_produtos:exibir_estoque' %}"> Vizualizar Estoque</a>
    <a href="{% url 'app_produtos:exibir_produtos_venda' %}"> Vizualizar Produtos Para Venda</a>
</body>
</html>