{% load static %}
<! DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'tela_de_login.css' %}">
    <title>Tela De Login</title>

</head>
<body>
  <section>
    <div class="container">
    <div class="text">
        <h1>EM CONSTRUÇÃO</h1>
        <a href="{% url 'app_produtos:landing_page' %}" class="voltar">VOLTAR</a>
    </div>
  </div>
  </section>
</body>
</html>