{% load static %}
{% load crispy_forms_tags %}
<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tela De Pagamento</title>
</head>
<body>
    <h1> Bem Vindo a Tela de Pagamento</h1>
    <h2> OPÇÔES DE PAGAMENTO: </h2>
    <form method="post" action="{% url 'app_produtos:processar_pagamento' %}">
        {% csrf_token %}
        <button type="submit" name="metodo_pagamento" value="cartao">Cartão</button>
        <button type="submit" name="metodo_pagamento" value="pix">Pix</button>
        <button type="submit" name="metodo_pagamento" value="dinheiro">Dinheiro</button>
    </form>

</body>
</html>