{% load static %}
{% load crispy_forms_tags %}

<! DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicação Teste de Alimentos </title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>


<body>
    <div class="variaveis-container">
        <span class="variavel variavel-alimentos"> ALIMENTOS </span>
        <span class="variavel variavel-quantidade"> QUANTIDADE</span>
        <span class="variavel"> <span class="variavel-preco">PREÇO</span></span>
    </div>


    {% for alimento in alimentos %}
    <div class="item-container">
        <span class="alimento-nome"> {{ alimento.nome }}   </span>
        <span class="alimento-quantidade"> {{ alimento.quantidade }}   </span>
        <span class="alimento-preco">  <span class="valor-preco"></span> {{ alimento.preco }} </span>
    </div>
    {% endfor %}
    <a href="{% url 'app_produtos:exibir_pagina_inicial' %}"> Voltar para página inicial</a>

    <form method="post" action="{% url 'app_produtos:adicionar_alimento' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"> Adicionar Novo Alimento </button>
    </form>
</body>

</html>